@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    user-select: none;
}

.bg {position: absolute; height: 100%; width: 100%; top: 0%; left: 0%; background-color: #000000ad;}

#laptop {display: none;}
#login {display: none;}
#home {display: none;}
#files {display: none;}
#loader {display: none;} 
#notification {display: none;}
#console {display: none;}

#application {display: none;} 
#card-details {display: none;} 

#application2 {display: none;}

#application3 {display: none;}
#sim-details {display: none;}

.background {
    width: 80%;
    height: 900px;
    position: relative;
    margin: 0 auto;
    margin-top: 70px;
    background-color: rgb(8, 10, 19);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}
  
.wallpaper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 99%;
    max-height: 99%; 
}

.profile {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 15%;
    max-height: 15%; 
    opacity: 90%;
}

.profile-username {
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
    top: 50%;
    font-family: "Rubik";
    font-weight: 500;
    font-size: 20px;
}

.profile-password {
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    height: 4%;
    width: 15%;
    border: none;
    background: #00000080;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-align: center;
    color: white;
}

.profile-password::placeholder {
    color: rgba(255, 255, 255, 0.747);
    font-weight: 500;
}
  
.profile-password:focus {
    outline: none;
    border: none;
}

.home-taskbar {
    position: absolute;
    bottom: 3%;
    left: 0.5%;
    width: 99%;
    height: 5%;
    background-color: #000000be;
}

.home-taskbar-logo {
    width: 20px;
    margin-top: 14px;
    margin-left: 10px;
}

.home-taskbar-util-date {
    position: absolute;
    width: 97%;
    top: 50%;
    text-align: right;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.home-taskbar-util-time {
    position: absolute;
    width: 97%;
    top: 15%;
    text-align: right;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.home-taskbar-util-dynamic-location {
    position: absolute;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 12px;
    right: 8%;
    top: 15px;
}

.file-app {
    position: absolute;
    left: 2%;
    top: 5%;
    width: 50px; 
    height: 50px; 
    transition: background-color 0.2s;
    cursor: pointer;
}

.file-app:hover {
    background-color: #00000069;
}

.file-app-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.file-app-preview img {
    width: 30px;
    height: 30px;
}

.file-app-name {
    color: white;
    font-size: 9px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
}

.files {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 15%;
    left: 15%;
    background-color: rgb(9, 10, 17);
    border: 2.5px solid rgb(15, 16, 29);
    border-radius: 10px;
    animation-name: open;
    animation-duration: 0.3s;
}

.files-header {
    top: 0%;
    width: 100%;
    height: 10%;
    background: linear-gradient(180deg, rgba(26,28,43,1) 0%, rgba(9,10,17,1) 100%);
}

.files-header-drive {
    position: absolute;
    color: white;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-left: 10px;
    top: 10px;
}

.file-app-1 {
    position: absolute;
    left: 3%;
    top: 13%;
    scale: 1.10;
    transition: background-color 0.2s;
    cursor: pointer;
}

.file-app-1:hover {
    background-color: #00000069;
}

.file-app-preview-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.file-app-preview-1 img {
    width: 30px;
    height: 30px;
}

.file-app-name-1 {
    color: white;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
}

.file-app-2 {
    position: absolute;
    left: 16%;
    top: 13%;
    scale: 1.10;
    transition: background-color 0.2s;
    cursor: pointer;
}

.file-app-2:hover {
    background-color: #00000069;
}

.file-app-preview-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.file-app-preview-2 img {
    width: 30px;
    height: 30px;
}

.file-app-name-2 {
    color: white;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
}

.file-app-3 {
    position: absolute;
    left: 29%;
    top: 13%;
    scale: 1.10;
    transition: background-color 0.2s;
    cursor: pointer;
}

.file-app-3:hover {
    background-color: #00000069;
}

.file-app-preview-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.file-app-preview-3 img {
    width: 30px;
    height: 30px;
}

.file-app-name-3 {
    color: white;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
}

.file-app-4 {
    position: absolute;
    left: 43%;
    top: 13%;
    scale: 1.10;
    transition: background-color 0.2s;
    cursor: pointer;
}

.file-app-4:hover {
    background-color: #00000069;
}

.file-app-preview-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.file-app-preview-4 img {
    width: 30px;
    height: 30px;
}

.file-app-name-4 {
    color: white;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
}

.loader {
    position: absolute;
    width: 20%;
    height: 8%;
    left: 20%;
    top: 30%;
    background-color: rgb(18, 20, 34);
    border: 2.5px solid rgb(24, 25, 44);
    border-radius: 10px;
}

.loader-header {
    border-radius: 10px;
    top: 0%;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, rgb(4, 7, 26) 0%, rgb(18, 20, 34) 100%);
}

.loader-title {
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: 15px;
    text-align: center;
}

.loader-background {
    position: absolute;
    width: 60%;
    height: 9%;
    background-color: rgb(68, 70, 78);
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.loader-value {
    width: 0%;
    height: 100%;
    background-color: #42b43f;
    border-radius: 15px;
}

.notification {
    position: absolute;
    width: 18%;
    height: 9%;
    right: 4%;
    bottom: 13%;
    background-color: rgb(18, 20, 34);
    border: 2.5px solid rgb(24, 25, 44);
    border-radius: 10px;
    animation-name: notify;
    animation-duration: 0.3s;
    padding: 5px;
}

.notification-header {
    border-radius: 10px;
    top: 0%;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, rgb(4, 7, 26) 0%, rgb(18, 20, 34) 100%);
}

.notification-title {
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}

.console {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 15%;
    left: 15%;
    background-color: rgb(9, 10, 17);
    border: 2.5px solid rgb(15, 16, 29);
    border-radius: 10px;
}

.console-header {
    top: 0%;
    width: 100%;
    height: 10%;
    background: linear-gradient(180deg, rgba(26,28,43,1) 0%, rgba(9,10,17,1) 100%);
}

.console-header-drive {
    position: absolute;
    color: white;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-left: 10px;
    top: 10px;
}

.console-body {
    padding-top: 45px;
    margin-left: 10px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.726);
    font-family: 'Martian Mono', monospace;
    font-size: 12px;
}

.application {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 15%;
    left: 15%;
    background-color: rgb(3, 4, 5);
    border: 2.5px solid rgb(15, 16, 29);
    border-radius: 10px;
}

.application-header {
    top: 0%;
    width: 100%;
    height: 10%;
    background: linear-gradient(180deg, rgb(12, 12, 12) 0%, rgb(3, 4, 5) 100%);
}

.application-header-text {
    position: absolute;
    color: white;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-left: 10px;
    top: 10px;
}

.application-title {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    margin-top: 10px;
    font-size: 25px;
}

.application-card {
    position: absolute;
    border: 2px solid #0f0e0e6b;
    width: 35%;
    height: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40%;
    border-radius: 10px;
}

.application-card-status {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Rubik';
    font-weight: 400;
    top: 45%;
    font-size: 15px;
}

.card {
    position: absolute;
    width: 90%;
    top: -25%;
    left: 5%;
}

.application-card-details {
    position: absolute;
    border: 2px solid #0f0e0e6b;
    width: 35%;
    height: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 71%;
    border-radius: 10px;
}

.application-card-details-title {
    position: absolute;
    width: 100%;
    text-align: center;
    color: rgb(236, 236, 236);
    font-family: 'Rubik';
    font-weight: 500;
    top: 10%;
    font-size: 17px;
}

.application-card-details-name {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    top: 40%;
    font-size: 14px;
}

.application-card-details-number {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    top: 70%;
    font-size: 14px;
}

.application-card-clone {
    position: absolute;
    background-color: #0f0e0e00;
    border: 2px solid #0f0e0e6b;
    width: 35%;
    height: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 90%;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;   
    transition: background-color 0.2s;
    transition: color 0.2s;
}

.application-card-clone:hover {
    background-color: #0000007a;
    color: rgba(255, 255, 255, 0.692);
    cursor: pointer;
}

.application2 {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 15%;
    left: 15%;
    background-color: rgb(3, 4, 5);
    border: 2.5px solid rgb(15, 16, 29);
    border-radius: 10px;
}

.application2-header {
    top: 0%;
    width: 100%;
    height: 10%;
    background: linear-gradient(180deg, rgb(12, 12, 12) 0%, rgb(3, 4, 5) 100%);
}

.application2-header-text {
    position: absolute;
    color: white;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-left: 10px;
    top: 10px;
}

.application2-title {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    margin-top: 10px;
    font-size: 25px;
}

.application2-check {
    position: absolute;
    width: 35%;
    height: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    top: 40%;
    border-radius: 10px;
}

.application2-check-status {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Rubik';
    font-weight: 400;
    top: 45%;
    font-size: 15px;
}

.check {
    position: absolute;
    width: 150%;
    top: 15%;
    left: 5%;
}

.check-name {
    position: absolute;
    width: 100%;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: 'Satisfy', cursive;
    text-align: center;
    top: 51%;
    right: 3%;
}

.application-check-print {
    position: absolute;
    background-color: #0f0e0e00;
    border: 2px solid #0f0e0e6b;
    width: 35%;
    height: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 90%;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;   
    transition: background-color 0.2s;
    transition: color 0.2s;
}

.application-check-print:hover {
    background-color: #0000007a;
    color: rgba(255, 255, 255, 0.692);
    cursor: pointer;
}

.simcard {
    position: absolute;
    width: 70%;
    top: 8%;
    left: 15%;
}

.application-sim {
    position: absolute;
    border: 2px solid #0f0e0e6b;
    width: 35%;
    height: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40%;
    border-radius: 10px;
}

.application-sim-status {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Rubik';
    font-weight: 400;
    top: 45%;
    font-size: 15px;
}

.application-sim-details {
    position: absolute;
    border: 2px solid #0f0e0e6b;
    width: 35%;
    height: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 71%;
    border-radius: 10px;
}

.application-sim-details-title {
    position: absolute;
    width: 100%;
    text-align: center;
    color: rgb(236, 236, 236);
    font-family: 'Rubik';
    font-weight: 500;
    top: 10%;
    font-size: 17px;
}

.application-sim-details-phone-carrier {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    top: 40%;
    font-size: 14px;
}

.application-sim-details-number {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    top: 70%;
    font-size: 14px;
}

.application-sim-swap {
    position: absolute;
    background-color: #0f0e0e00;
    border: 2px solid #0f0e0e6b;
    width: 35%;
    height: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 90%;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;   
    transition: background-color 0.2s;
    transition: color 0.2s;
}

.application-sim-swap:hover {
    background-color: #0000007a;
    color: rgba(255, 255, 255, 0.692);
    cursor: pointer;
}

.application-sim-status {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Rubik';
    font-weight: 400;
    top: 45%;
    font-size: 15px;
}

.application3-title {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    margin-top: 20px;
    font-size: 25px;
}

#exit {
    position: absolute;
    color: rgba(255, 255, 255, 0.781);
    right: 11px;
    margin-top: 10px;
    transition: color 0.2s;
}

#exit:hover {
    color: rgb(84, 88, 116);
    cursor: pointer;
    font-size: 16px;
}

#exit2 {
    position: absolute;
    color: rgba(255, 255, 255, 0.781);
    right: 11px;
    margin-top: 10px;
    transition: color 0.2s;
}

#exit2:hover {
    color: rgb(84, 88, 116);
    cursor: pointer;
    font-size: 16px;
}

#exit3 {
    position: absolute;
    color: rgba(255, 255, 255, 0.781);
    right: 11px;
    margin-top: 10px;
    transition: color 0.2s;
}

#exit3:hover {
    color: rgb(84, 88, 116);
    cursor: pointer;
    font-size: 16px;
}

#exit4 {
    position: absolute;
    color: rgba(255, 255, 255, 0.781);
    right: 11px;
    margin-top: 10px;
    transition: color 0.2s;
}

#exit4:hover {
    color: rgb(84, 88, 116);
    cursor: pointer;
    font-size: 16px;
}

#wifi {
    color: white;
    position: absolute;
    margin-top: 15px;
    right: 5.5%;
    font-size: 14px;
}

@keyframes notify {
    from {
        right: 0%;
    }

    to {
        right: 4%;
    }
}

@keyframes open {
    from {
        scale: 0.00;
    }

    to {
        scale: 1.00;
    }
}