<div class="market">
  <div class="market-buttons">
    <div
      @click="setActivePage('buy')"
      :class="{active : activePage == 'buy'}"
      class="market-button"
    >
      BUY
    </div>
    <div
      @click="setActivePage('sell')"
      :class="{active : activePage == 'sell'}"
      class="market-button"
    >
      SELL
    </div>
    <div
      @click="setActivePage('ship')"
      :class="{active : activePage == 'ship'}"
      class="market-button"
    >
      SHIP
    </div>
  </div>
  <buy v-if="activePage=='buy'"></buy>
  <sell v-if="activePage=='sell'"></sell>
  <ship v-if="activePage=='ship'"></ship>

</div>
