<div class="flex gap-x-3 mt-4">
  <div class="market-items">
    <div
      :class="{active : hoveredItem.name == item.name}"
      @mouseover="hoveredItem = item"
      @mouseleave="hoveredItem = false"
      class="market-item"
      v-for="item in sellItems"
      @click="addToCart(item)"
    >
      <img
        class="market-item-img"
        :src="'./assets/images/item_images/'+item.image"
      />
      <img
        src="./assets/images/market-item-line-active.png"
        v-if="hoveredItem.name == item.name"
      />
      <img src="./assets/images/market-item-line.png" v-else />
      <p class="market-item-label">{{item.label}}</p>
      <p class="market-item-price">${{item.price}}</p>
    </div>
    <div class="market-item-info" v-if="hoveredItem">
      <div class="market-item-image-holder">
        <img
          class="market-item-img"
          :src="'./assets/images/item_images/'+hoveredItem.image"
        />
      </div>
      <div class="flex flex-col gap-y-2">
        <p class="market-item-label">{{hoveredItem.label}}</p>
        <p class="market-item-desc">{{hoveredItem.desc}}</p>
      </div>
      <div class="market-item-price-container">
        <p class="player-money">${{hoveredItem.price}}</p>
        <img src="./assets/images/coins.png" />
      </div>
      <div class="market-item-amount-container">
        <p class="player-money">You have {{getItemAmount}}</p>
        <img src="./assets/images/box.png" />
      </div>
    </div>
  </div>
  <div class="cart flex flex-col gap-y-2">
    <div class="flex items-center gap-x-2 relative bottom-12">
      <p class="player-money">${{money}}</p>
      <img src="./assets/images/coins.png" />
    </div>
    <div class="cart-container relative bottom-10">
      <div class="flex items-center justify-between">
        <p class="cart-header">Sell To Market</p>
        <p class="total-header">Total - ${{getTotalCart}}</p>
      </div>
      <img class="my-8 w-full" src="./assets/images/cart-line.png" />
      <div class="cart-items no-scrollbar">
        <div class="cart-item" v-for="item in cart">
          <img
            @click="removeFromCart(item)"
            src="./assets/images/x.png"
            class="delete-cart"
          />
          <img
            class="market-item-img"
            :src="'./assets/images/item_images/'+item.image"
          />
          <div class="flex flex-col gap-y-2">
            <p class="market-item-label">{{item.label}}</p>
            <p class="market-item-label">${{item.price}}</p>
          </div>
          <div class="flex items-center ml-8">
            <img
              @click="decreaseFromCart(item)"
              class="arrow"
              src="./assets/images/left-arrow.png"
            />
            <input type="text" class="cart-amount" v-model="item.amount" />
            <img
              @click="increaseFromCart(item)"
              class="arrow"
              src="./assets/images/right-arrow.png"
            />
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center gap-x-3">
        <div @click="sell" class="sell-btn">SELL ALL</div>
      </div>
    </div>
  </div>
</div>
