.main {
  width: 100%;
  height: 100%;
}
.mine-map {
  width: 100%;
  height: 30.25rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0.25rem 2rem;
  position: relative;
  overflow: hidden;
}

.mine-label {
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 5.97rem */
  color: white;
  width: 50%;
  height: 13rem;
  background: linear-gradient(
    90deg,
    rgba(6, 255, 210, 0.48) 2.72%,
    rgba(255, 255, 255, 0.48) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .icons-container p {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.995rem */
}

.main .select-area-btn {
  width: 11.5625rem;
  height: 2.5rem;
  background-image: url(../../../../assets/images/select-area-btn.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
  text-align: right;
  cursor: pointer;
  font-family: Gilroy-Black;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 1.24375rem */
  filter: drop-shadow(0px 4px 22px #000);
  transition: all 0.2s ease;
}

.main .select-area-btn:hover {
  transform: scale(1.05);
}

.mine-areas {
  display: flex;
  position: absolute;
  right: 5rem;
  bottom: 0;
  column-gap: 2rem;
}

.mine-area {
  width: 15rem;
  height: 8.75rem;
  background-image: url(../../../../assets/images/mine-area.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: translateY(95px);
  position: relative;
  transition: all 0.2s ease;
  box-shadow: 0px -3px 28.6px 0px #000;
}

.mine-area.selected {
  transform: translateY(30px);
}

.mine-area:hover {
  transform: translateY(30px);
}

.lock-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.level-container {
  width: 5.03125rem;
  height: 1.25rem;
  background-image: url(../../../../assets/images/level-container.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.74625rem */
}

.mine-area-label {
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.995rem */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3rem;
  width: 100%;
  color: white;
}

.main-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: 1rem 0;
  height: 26.75rem;
}

.daily-mission-container {
  width: 25rem;

  height: 100%;
  background-image: url(../../../../assets/images/dailymission-container.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2rem;
}

.daily-mission-header-label {
  color: #06ffd2;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-ExtraBold;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 1.24375rem */
}

.select-vehicle-container {
  width: 18.875rem;
  height: 100%;
  background-image: url(../../../../assets/images/selectvehicle-container.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1.5rem 0;
  position: relative;
}

.select-vehicle-name {
  color: rgba(255, 255, 255, 0.46);
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-ExtraBold;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.93281rem */
  margin-top: 1.5rem;
  text-align: center;
}

.select-veh-btn {
  background-image: url(../../../../assets/images/select-veh-btn.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.875rem;
  height: 2.5rem;
  margin: 0 auto;
  margin-top: 2rem;
  color: #242424;
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Black;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 1.24375rem */
  cursor: pointer;
  filter: drop-shadow(0px 4px 22px #000);
  transition: all 0.2s ease;
}

.select-veh-btn:hover {
  transform: scale(1.05);
}

.select-vehicle-img {
  margin: 0 auto;
  margin-top: 1rem;
  width: 15.9375rem;
  margin-top: 2rem;
  height: 9rem;
  transform: scale(0.9);
}

.daily-mission-header {
  display: flex;
  align-items: center;
  position: relative;
  column-gap: 1rem;
}

.get-ready-container {
  flex: 1;
  height: 100%;
}

.daily-mission-hours-left {
  position: absolute;
  right: 0;
  color: #06ffd2;
  leading-trim: both;
  text-edge: cap;
  font-family: Helvetica;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.995rem */
}

.daily-missions {
  height: 90%;
  overflow: auto;
  width: 100%;

  margin-top: 1rem;
}

.daily-mission {
  background-image: url(../../../../assets/images/dailymission-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 6.25rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.daily-mission-header-text {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-ExtraBold;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.87063rem */
  margin-bottom: 0.4rem;
}
.daily-mission-desc-text {
  color: rgba(0, 0, 0, 0.65);
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-SemiBold;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.74625rem */
}

.daily-mission-xp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.75rem;
}
.daily-mission-progress {
  width: 100%;
  margin-top: 0.75rem;
  border-radius: 0.9375rem;
  background: rgba(0, 0, 0, 0.24);
  height: 0.625rem;
}

.daily-mission-progress-inner {
  width: 50%;
  height: 100%;
  border-radius: 0.9375rem;
  background: #40e5bd;
}

.daily-mission-xp-container p {
  color: rgba(0, 0, 0, 0.65);
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Medium;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.62188rem */
}

.select-vehicle-header {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-ExtraBold;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 1.24375rem */
  text-align: center;
  position: relative;
  z-index: 2;
}

.get-ready-container-bg {
  padding: 1.5rem;
  background-image: url(../../../../assets/images/getready-container.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 16.9375rem;
}

.start-btn {
  margin-top: 0.75rem;
  background-image: url(../../../../assets/images/start-btn.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 6.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #06ffd2;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 2.5rem;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 2.4875rem */
}

.get-ready-text {
  color: #06ffd2;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-ExtraBold;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 1.24375rem */
}

.progress-text {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.87063rem */
  opacity: 0.4;
  transition: all 0.2s ease;
}

.progress-text.active {
  opacity: 1;
}
.progressbar-line {
  width: 0.8rem;
  height: auto;
  margin-top: 0.6rem !important;
}

.progressbar {
  width: 1.2875rem;
  height: auto;
}

.left-arrow-select {
  position: absolute;
  left: 1rem;
  cursor: pointer;
  z-index: 2;

  top: 50%;
  transform: translateY(-50%);
}
.right-arrow-select {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  z-index: 2;

  top: 50%;
  transform: translateY(-50%);
}

.truck-locked-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
}

.truck-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 99%;
  height: 99%;
  z-index: 1;
}
