<div class="ship">
  <div class="ship-bg" v-for="ship in shipments">
    <div class="flex items-center">
      <img
        class="item-img-1"
        :src="'./assets/images/item_images/'+ship.itemimg"
      />
      <img
        v-if="ship.item2img"
        class="item-img-2"
        :src="'./assets/images/item_images/'+ship.item2img"
      />
      <div class="pl-24 pt-4">
        <p class="factory-name-header">{{ship.factoryname}}</p>
        <p class="factory-name">{{ship.factorylabel}}</p>
        <p class="factory-name">
          <span
            >{{ship.itemamount}} {{ship.itemLabel}} {{ship.item2amount || ''}}
            {{ship.item2Label || ''}}</span
          >
          needed.
        </p>
      </div>
    </div>
    <p class="offer-text mt-12">${{ship.offer}}</p>
    <p class="offer-text">Offer</p>
    <p class="factory-name text-center mt-2">Shipment to docks</p>
    <div @click="shipOrder(ship)" class="ship-btn mt-2">SHIP ORDER</div>
  </div>
</div>
