.job {
  position: absolute;
  left: 0;
  top: 0;
  width: 25rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1.75rem;
}

.job-bg {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 25rem;
  height: 100%;
  z-index: -1;
}

.jobStarted {
  filter: grayscale(100%);
}

.mine-place-label {
  leading-trim: both;
  text-align: left;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 3.35813rem */
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.48) 2.72%,
    rgba(121, 121, 121, 0.48) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mine-place-label.abandoned {
  background: linear-gradient(
    90deg,
    rgba(255, 237, 171, 0.48) 2.72%,
    rgba(255, 255, 255, 0.48) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mine-place-label.abandoned {
  background: linear-gradient(
    90deg,
    rgba(255, 237, 171, 0.48) 2.72%,
    rgba(255, 255, 255, 0.48) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mine-place-label.davis {
  background: linear-gradient(
    90deg,
    rgba(255, 186, 171, 0.48) 2.72%,
    rgba(255, 255, 255, 0.48) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mine-place-label.redwood {
  background: linear-gradient(
    90deg,
    rgba(255, 186, 171, 0.48) 2.72%,
    rgba(255, 255, 255, 0.48) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome-text {
  color: rgba(255, 255, 255, 0.66);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.995rem */
}

.possible-ore-text {
  color: rgba(255, 255, 255, 0.66);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 1.4925rem */
  width: 50%;
  margin: 0 auto;
}

.ores-container {
  position: relative;
  width: 14.76438rem;
  height: 14.76438rem;
  margin: 0 auto;
}

.big-ore-container {
  width: 14.76438rem;
  height: 14.76438rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-ore-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8.6925rem;
  height: 8.6925rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.big-ore-container img {
  width: 7rem;
  height: auto;
}
.small-ore-container img {
  width: 4rem;
  height: auto;
}

.big-ore-container p {
  width: 30%;
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.995rem */
}
.small-ore-container p {
  width: 30%;
  color: rgba(255, 255, 255, 0.75);

  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.995rem */
}

.first-ore {
  position: absolute;
  left: -2.5rem;
  bottom: -3rem;
}
.second-ore {
  position: absolute;
  right: -2.4rem;
  bottom: -3rem;
}

.required-pickaxe {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.pickaxe-container {
  width: 5.9375rem;
  height: 6.625rem;
  background-image: url(../../assets/images/pickaxe-container.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.required-pickaxe-text {
  color: rgba(255, 255, 255, 0.66);
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.87063rem */
  width: 75%;
}

.start-buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: center;
}

.key-button {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 3.5625rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Black;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 1.24375rem */
}

.start-button {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 13.125rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Black;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 1.24375rem */
}

.item-logs {
  overflow: auto;
}

.item-log {
  background-image: url(../../assets/images/item_log_container.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 5.9375rem;
  height: 6.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.item-log-label {
  position: absolute;
  left: 0%;
  width: 100%;
  bottom: 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.66);
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.74625rem */
}
