<div class="process-container">
  <div :class="{jobStarted:processStarted}" class="process-bg"></div>

  <p :class="{jobStarted:processStarted}" class="process-container-header">
    Ore Process Area
  </p>
  <img
    :class="{jobStarted:processStarted}"
    src="./assets/images/ore-process-line.png"
    class="my-8"
  />
  <p :class="{jobStarted:processStarted}" class="process-text-welcome my-8">
    Welcome to the Ore Process Area, You can process different ores in this
    area...
  </p>
  <img
    :class="{jobStarted:processStarted}"
    class="my-8"
    src="./assets/images/mine-line.png"
  />
  <p :class="{jobStarted:processStarted}" class="select-ore-text">
    Select Ore To See Possible Material
  </p>
  <div class="mt-6 process-item-container">
    <p :class="{jobStarted:processStarted}" class="process-item-label">
      {{processItems[selectedItem].fromItem.label}}
    </p>
    <img
      :src="'./assets/images/item_images/'+processItems[selectedItem].fromItem.name+'.png'"
    />
  </div>
  <img
    :class="{jobStarted:processStarted}"
    class="mx-auto absolute left-1/2 top-[34rem] transform -translate-y-1/2 -translate-x-1/2"
    src="./assets/images/process-item-line.png"
  />
  <img
    :class="{jobStarted:processStarted}"
    @click="decreaseSelectedItem"
    class="absolute left-4 cursor-pointer top-[34rem] transform -translate-y-1/2"
    src="./assets/images/left-arrow-process.png"
  />
  <img
    :class="{jobStarted:processStarted}"
    @click="increaseSelectedItem"
    class="absolute right-4 cursor-pointer top-[34rem] transform -translate-y-1/2"
    src="./assets/images/right-arrow-process.png"
  />

  <div class="process-item-container">
    <p :class="{jobStarted:processStarted}" class="process-item-label">
      {{processItems[selectedItem].toItem.label}}
    </p>
    <img
      :src="'./assets/images/item_images/'+processItems[selectedItem].toItem.name+'.png'"
    />
  </div>
  <p :class="{jobStarted:processStarted}" class="receive-text mt-4">
    You will receive <span>{{processItems[selectedItem].toItem.label}}</span>
  </p>
  <div
    :class="{jobStarted:processStarted}"
    v-if="!processStarted"
    class="required-items-container relative mt-3 flex items-center"
  >
    <div class="required-item-container">
      <img
        :src="'./assets/images/item_images/'+processItems[selectedItem].requiredItems[0].name+'.png'"
      />
    </div>
    <div
      v-if="processItems[selectedItem].requiredItems[1]"
      class="required-item-container-2"
    >
      <img
        :src="'./assets/images/item_images/'+processItems[selectedItem].requiredItems[1].name+'.png'"
      />
    </div>
    <p :class="{jobStarted:processStarted}" class="required-item-text ml-3">
      You need 1x
      <span
        >{{processItems[selectedItem].requiredItems[0].label}}
        {{processItems[selectedItem].requiredItems[1] ? 'and' : ''}}
        {{processItems[selectedItem].requiredItems[1] ?
        processItems[selectedItem].requiredItems[1].label : ''}}</span
      >
      to process this item with fire.
    </p>
  </div>
  <div v-else class="item-logs flex items-center gap-x-2 mt-24">
    <div
      class="item-log"
      :style="{filter: index == 2 ?  'drop-shadow(0px 0px 29.2px rgba(255, 255, 255, 0.56))' : ''}"
      v-for="(item, index) in itemLogs"
    >
      <p :class="{jobStarted:processStarted}" class="item-log-label">
        {{item.label}}
      </p>
      <img :src="'./assets/images/item_images/'+item.item+'.png'" />
    </div>
  </div>
  <div
    :class="{jobStarted:processStarted}"
    class="flex items-center w-full justify-center gap-x-3 mt-3"
  >
    <div class="process-key">E</div>
    <div class="start-process">
      {{processStarted ? 'STOP PROCESS' : 'START PROCESS'}}
    </div>
  </div>
</div>
