.profile {
  width: 100%;
  height: 100%;
  position: relative;
}

.current-level-text {
  color: #06ffd2;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-SemiBold;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.current-level-lv {
  leading-trim: both;
  text-edge: cap;
  color: #06ffd2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  font-family: Gilroy-SemiBold;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.current-level-amount {
  leading-trim: both;
  text-edge: cap;
  color: #06ffd2;
  font-family: Gilroy-SemiBold;
  font-size: 3.95394rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.experience-container {
  background-color: rgba(217, 217, 217, 0.11);
  border: 1px solid #06ffd188;
  width: 10.5rem;
  height: 1rem;
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  bottom: 5rem;
  overflow: hidden;
}

.experience-text {
  color: rgba(28, 181, 144, 0.52);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-SemiBold;
  font-size: 0.79431rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.79038rem */
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
}

.experience-wrapper {
  background-color: rgba(6, 255, 210, 0.72);
  width: 30%;
  height: 100%;
}

.completed-shipments {
  padding: 5rem 0;
  background-image: url(../../../../assets/images/completed-shipments.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 11.73238rem;
  height: 25.4375rem;
  position: absolute;
  left: 10rem;
  top: 35%;
  transform: translateY(-50%);
}

.profile-level-container {
  position: absolute;
  width: 14.125rem;
  height: 30.625rem;
  background-image: url(../../../../assets/images/level-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.total-earnings {
  background-image: url(../../../../assets/images/total-earnings.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 11.73238rem;
  height: 25.4375rem;
  position: absolute;
  right: 10rem;
  top: 35%;
  padding: 5rem 0;
  transform: translateY(-50%);
}

.profile-level-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5rem 0;
}

.total-earnings-since {
  color: rgba(255, 255, 255, 0.32);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-SemiBold;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: 2rem;
}

.total-earnings-amount {
  leading-trim: both;
  text-edge: cap;
  color: #fff;
  font-family: Gilroy-SemiBold;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.total-earnings-text {
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-SemiBold;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.completed-shipments-header {
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-SemiBold;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.completed-shipments-amount {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  leading-trim: both;
  text-edge: cap;
  color: white;
  font-family: Gilroy-SemiBold;
  font-size: 3.28419rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gathered-ores-amount {
  color: rgba(255, 255, 255, 0.32);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-SemiBold;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
}

.latest-works-header {
  position: absolute;
  bottom: 22rem;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.latest-works {
  bottom: 5rem;
  left: 0;
  width: 100%;
  height: 14rem;
  overflow: auto;
  position: absolute;
}

.latest-work-header {
  border-radius: 0.3125rem;
  border: 1px solid #000;
  background: rgba(61, 200, 175, 0.08);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(6, 255, 210, 0.6);
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.87063rem */
}

.latest-work {
  margin-bottom: 1rem;
  width: 100%;
  height: 3.75rem;
  background-image: url(../../../../assets/images/latest-works-container.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.latest-work-process {
  color: rgba(255, 255, 255, 0.62);
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 0.93825rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 0.93356rem */
}

.latest-work-place {
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 1.24375rem */
  color: #06ffd2;
}

.latest-works-text {
  color: rgba(255, 255, 255, 0.6);
  leading-trim: both;
  text-edge: cap;
  font-family: Gilroy-Bold;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 99.5%; /* 1.4925rem */
}
