<div class="profile">
  <img src="./assets/images/railway.png" class="railway" />

  <div class="completed-shipments">
    <p class="completed-shipments-header">
      Completed <br />
      Shipments
    </p>
    <p class="completed-shipments-amount">{{playerData.completedShipments}}</p>
    <p class="gathered-ores-amount">
      Gathered {{playerData.gatheredOres}} Ores
    </p>
  </div>
  <div class="profile-level-container">
    <div class="profile-level-wrapper">
      <p class="current-level-text">Current <br />Level</p>
      <p class="current-level-lv">Lv.</p>
      <p class="current-level-amount">{{playerData.level}}</p>
      <div class="experience-container">
        <div
          class="experience-wrapper"
          :style="{width : getPercentage + '%'}"
        ></div>
      </div>
      <div class="experience-text">
        Experience <br />
        {{playerData.xp}}/{{xp[playerData.level-1]}}
      </div>
    </div>
  </div>
  <div class="total-earnings">
    <p class="total-earnings-text">Total <br />Earnings</p>
    <p class="total-earnings-amount">${{playerData.totalEarnings}}</p>
    <p class="total-earnings-since">
      Since {{secondsToDate(playerData.createdAt)}}
    </p>
  </div>
  <div class="latest-works-header">
    <img src="./assets/images/latest-works-icon.png" />
    <p class="latest-works-text">Latest Works</p>
    <img src="./assets/images/latest-works-line.png" />
  </div>
  <div class="latest-works no-scrollbar">
    <div
      class="latest-work"
      v-for="i in playerData.latestWorks.slice().reverse()"
    >
      <div class="flex items-center gap-x-2">
        <div class="latest-work-header">{{i.title}}</div>
        <p class="latest-work-place">{{i.place}}</p>
      </div>
      <div class="flex items-center gap-x-3">
        <img src="./assets/images/latestwork-process-icon.png" />
        <p class="latest-work-process">{{i.label}}</p>
        <img src="./assets/images/date-icon.png" />
        <p class="latest-work-process">{{secondsToDate(i.time)}}</p>
      </div>
    </div>
  </div>
</div>
