<div class="main-container">
  <div class="main-wrapper">
    <div class="main-header-container">
      <div class="main-header">
        <div
          @click="setActivePage('main')"
          :class="{active: activePage == 'main'}"
          class="main-header-button"
        >
          <p>MAIN</p>
          <img
            class="active-button-overlay"
            src="./assets/images/active-button-overlay.png"
          />
          <img
            class="active-button-line"
            src="./assets/images/active-button-line.png"
          />
        </div>
        <div
          @click="setActivePage('market')"
          :class="{active: activePage == 'market'}"
          class="main-header-button"
        >
          <p>MARKET</p>
          <img
            class="active-button-overlay"
            src="./assets/images/active-button-overlay.png"
          />
          <img
            class="active-button-line"
            src="./assets/images/active-button-line.png"
          />
        </div>
        <div
          @click="setActivePage('leaderboard')"
          :class="{active: activePage == 'leaderboard'}"
          class="main-header-button"
        >
          <p>LEADEBOARD</p>
          <img
            class="active-button-overlay"
            src="./assets/images/active-button-overlay.png"
          />
          <img
            class="active-button-line"
            src="./assets/images/active-button-line.png"
          />
        </div>
        <div
          @click="setActivePage('profile')"
          :class="{active: activePage == 'profile'}"
          class="main-header-button"
        >
          <p>PROFILE</p>
          <img
            class="active-button-overlay"
            src="./assets/images/active-button-overlay.png"
          />
          <img
            class="active-button-line"
            src="./assets/images/active-button-line.png"
          />
        </div>
      </div>
      <div class="pp-container">
        <div class="flex flex-col gap-y-2">
          <p class="player-name">{{playerData.name}}</p>
          <div class="player-level-container">
            <p class="player-level">Lv.{{playerData.level}}</p>
            <img src="./assets/images/level-icon.png" />
          </div>
        </div>
        <img :src="playerData.avatar" class="player-pp" />
      </div>
    </div>
    <img class="header-line my-4" src="./assets/images/header-line.png" />
    <mainpage v-if="activePage == 'main'"></mainpage>
    <market v-if="activePage == 'market'"></market>
    <leaderboard v-if="activePage == 'leaderboard'"></leaderboard>
    <profile v-if="activePage == 'profile'"></profile>
  </div>
</div>
